[submodule "fcm-Frontend"]
	path = fcm-Frontend
	url = https://github.com/siddheshmore007/Frontend-FCM.git
[submodule "fcm-Backend"]
	path = fcm-Backend
	url = https://github.com/siddheshmore007/Backend-FCM.git
[submodule "fcm-Cron"]
	path = fcm-Cron
	url = https://github.com/siddheshmore007/Cron-FCM.git
